@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
   height: 80px;
   display: flex; 
}

.nav__containter {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between; 
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}
